body {
    margin: 1%;
    text-align: center;
}
#Page {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
h1, h2, h4 {
    margin: 0;
}
h2 {
    display: flex;
    align-items: center;
}
h4 {
    font-size: 50px;
}
.FirstLine, .SecondBlock, .ThirdLine {
    background: #009bff;
}
.FirstLine {
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: center;
}

#SecondLine {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    box-sizing: border-box;
}

.SecondBlock {
    display: flex;
    padding: 10%;
    box-sizing: border-box;
    flex: 0 1 32.2%;
    max-height: 200px;
    max-width: 300px;
    justify-content: center;
}

.ThirdLine {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    justify-content: center;
}