/*Всі картинки повінні мати ширину від 200 до 400 пікселів.*/
/*кожен елемент окрім картинок повинен мати background та color.*/

body {
    text-align: center;
    margin: 0;
}

a {
    color: #0008ff; /* Колір ссилок */
    text-decoration: none; /* Забираєм підкреслення */
}

a:hover {
    /*border-bottom: 1px dashed blue;*/ /* Добавляем синє пунктирне підкреслення */
    text-decoration: underline;
}

/*a:hover {
    text-decoration: none;
    color: #0008ff;
}*/

.bgrnd_clr {
    color: #771eff;
    background: #f1ff07;
    font-size: 40px;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    text-align: center;
    /*margin: auto;*/
    margin-bottom: 0;
    margin-top: 0;
}

h1 {
    margin: auto;
    background: #f1ff07;
    font-size: 70px;
    color: red;
    width: 700px;
}


.imgs {
    width: 400px;
}

.double_style {
    width: 250px;
    margin: auto;
}

.mrgn {
    /*margin: 3%;*/
    text-align: left;
    margin-top: 7px;
    list-style-position: inside;
    color: #001170;
}

