body {
    width: 100%;
    height: 100%;
}

.block_one {
    background: black;
}

.block_two {
    background: forestgreen;
}

.block_three {
    background: deeppink;
}

@media screen and (min-width: 0) and (max-width: 768px) {

    .main_body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .block_one {
        width: 100vw;
        height: 11vh;
    }
    .block_two {
        width: 100vw;
        height: 70vh;
    }
    .block_three {
        width: 100vw;
        height: 30vh;
    }
}
@media screen and (min-width: 768px) {
    .main_body {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
    }
    .block_one {
        height: 32vh;
        flex: 1 1 100%;
    }
    .block_two {
        flex: 1 1 75%;
        height: 80vh;
    }
    .block_three {
        flex: 1 1 25%;
        height: 80vh;
    }
}