body {
    margin: 1%;
    text-align: center;
}
#Page {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
h1, h2, h4 {
    margin: 0;
}

h4 {
    font-size: 50px;
}
.FirstLine, .SecondBlock, .ThirdLine {
    background: #009bff;
}
.FirstLine {
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: center;
}

#SecondLine {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}
h2 {
    display: flex;
    align-items: center;
    /*box-sizing: border-box;*/
    width: 100px;
    height: 100px;
}
.SecondBlock {
    display: flex;
    flex-wrap: wrap;
    padding: 15% 6%;
    flex: 0 1 32.2%;
    justify-content: center;
    box-sizing: border-box;
}

.ThirdLine {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    justify-content: center;
}